workflows/telegram_bot_workflow_1.json
{
  "name": "Telegram Appointment Booking Bot 1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3907ff7f-7f2d-4be1-ae3b-18267e55f54f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nreturn [\n  {\n    json: {\n      nombre: \"faq_clinica\",\n      url: \"https://raw.githubusercontent.com/cristinaboada19/Telegram-Appointment-Booking-Bot/refs/heads/main/Documents/FAQ.txt\"\n    }\n  },\n  \n  {\n    json: {\n      nombre: \"Terminos_y_condiciones\",\n      url: \"https://raw.githubusercontent.com/cristinaboada19/Telegram-Appointment-Booking-Bot/refs/heads/main/Documents/Terminos_y_condiciones.txt\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        0
      ],
      "id": "a9d4f3b4-0cb8-4532-aef8-c19958a26916",
      "name": "Documents"
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        0
      ],
      "id": "82137e84-5955-4015-9d0b-9c2f91846f4e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "aurora_docs",
          "mode": "list"
        },
        "clearStore": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        512,
        -192
      ],
      "id": "66b9ffc2-7749-44f9-9628-41c5f0f7773a",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        560,
        16
      ],
      "id": "418d21d7-1ab1-4414-9ae5-8153cb9095ea",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "Li2Lqq19mDdIEwPk",
          "name": "Cohere account 2"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        704,
        16
      ],
      "id": "46e88104-02c3-4394-a85e-83acfeccdfca",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 800,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        800,
        224
      ],
      "id": "cf638213-9b10-4980-8d52-4b6c2fcbb185",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Documents": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "75465eec-da24-442e-8683-2238791bea81",
  "id": "gQkf1fbz4ASeeaWG",
  "tags": []
}